* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #0f2336;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  padding: 1.85rem;
  background-position: 100% bottom;
}
.button_header {
  background: #0f2336;
  border: 1px solid #0f2336;
  box-sizing: border-box;
  border-radius: 8px;
  color: aliceblue;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  width: 122px;
  height: 50px;
}
.header_menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.menu_item {
  padding: 1rem 1.625rem;
  margin-right: 1rem;
}

.about_green {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #00cccc;
}
.about_black {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 76px;
  letter-spacing: 1.11px;
  color: #0f2336;
  width: 50%;
}
.img_about {
  position: absolute;
  height: 70%;
}
h1 {
  margin-top: 120px;
}
.green_button {
  background: #00cccc;
  border: 1px solid #00cccc;
  box-sizing: border-box;
  box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
  border-radius: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0f2336;
  width: 208px;
  height: 60px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 28px;
  height: 17px;
}
.item_block {
  /* margin-top: 100px; */
  padding-top: 100px;
  padding-bottom: 100px;
  width: 320px;
}
.first_block img {
  width: 105px;
}
.icon_text_bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #0f2336;
  padding-top: 30px;
  padding-bottom: 12px;
}
.icon_text_light {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #576d81;
}
.set_blocks {
  display: flex;
  justify-content: space-between;
}
.how_does {
  padding-top: 50px;
}
.background_shape {
  height: 540px;
  width: 1140px;
  background: #f4f5f6;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.mobile_img {
  /* position: absolute; */
  padding-left: 30px;
  top: -50px;
  left: 30px;
  height: calc(100% + 108px);
}
h3 {
  width: 195px;
  height: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0f2336;
}
.icon_text_light .how_does p {
  width: 70%;
  height: 100px;
}
.card_wrapper {
  width: 30%;
}
.card_wrapper p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.circle li {
  width: 10px;
  height: 10px;
  background: #e3e6e8;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 50px;
}

.centr_shape {
  margin-top: 220px;
}

.centr_shape .wrapper {
  display: flex;
}

.item_block_2 {
  width: 455px;
  height: 180px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 2rem 1.875rem 2.5rem 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #0f2336;
  margin-bottom: 25px;
}
.icon_block_2 {
  width: 10%;
  margin-right: 25px;
}
/* .img_section_centr{
  width: 70%;
} */
.flex_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
